<main>
  <div class="container">
    <div class="row">
      <div class="col-6 offset-3">
        <form action="/editar" method="post" enctype="multipart/form-data">
           <img src="../imagens/{{produto.imagem}}">
           <input type="hidden" name="nomeImagem" value="{{produto.imagem}}"
            <input type="hidden" name="codigo" value="{{produto.codigo}}">

          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Nome do produto" name="nome" required aria-label="Nome do produto" value="{{produto.nome}}">
          </div>
          <div class="mb-3">
            <input type="number" step="0.01" class="form-control" placeholder="Valor do produto" name="valor" required aria-label="Valor do produto" value="{{produto.valor}}">
          </div>
          <div class="mb-3">
            <input type="file" class="form-control" name="imagem" aria-label="Imagem do produto">
          </div>
          <div class="mb-3 btn">
            <input type="submit" class="btn btn-primary" value="Salvar">
            <input type="button" class="btn btn-secondary" onclick="window.location.href='/'" value="Cancelar">

            </div>
        </form>
    </div>
    </div>
  </div>
</main>